@import "variables.scss";

.ReactFlipCard__Front, .ReactFlipCard__Back {
    transition: 0.8s;
}

.ReactFlipCard__Front{
    position: static;
}

.ReactFlipCard__Back {
    position: absolute;
    top: 0;
    left: 0;
    height: 15em;
}

.single-element-menu-front{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: white;
   
    width:15em;
    height:15em;

    border-radius:1em;
    text-align: center;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
    margin-bottom:2em;
}

.single-element-menu-front h2{
    margin: 0.4em 0.4em 0 0.4em;
    padding-bottom: 1em;
    
}

.single-element-menu-back{
    background-color: $green;
    color: white;

    width: 15em;
    height: 100%;
    position: absolute;
   

    border-radius:1em;
    text-align: center;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
    margin-bottom:2em;
}

.single-element-menu-back h1{
    padding-top: 1.5em;
}

.double-element-menu{
    margin: 0 1em 0 1em;
    display: flex;
    flex-direction: column;
    }

.Quadruple-element-menu{
    margin: 0 1em 0 1em;
    display: flex;
    flex-direction: column;
}

.box-menu-desktop{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.single-element-logo{
    min-height: 40%;
    width: auto;

    margin-top: 2em;
}


@media(min-width:1151px){
    .Quadruple-element-menu{
        display: none;
    }
};

@media(max-width:1150px){
   .double-element-menu{
       display: none;
   } 
};
