@import "variables.scss";

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: $white-font;
}

.navigation-bar div{
padding-top: $indent-lg;
max-width: 33%;
}

.navigation-bar-logo{
    font-weight: $heavy-weight;
    font-size:$font-md;
    line-height: 1;
}

.navigation-bar-in-touch span{
    margin-left: $indent-md;
    margin-right: $indent-md;
    position: relative;
    text-decoration: none;
    font-size:$font-sm;
    line-height: 1;
}

.navigation-bar-in-touch span:hover{
    cursor: pointer;
}

.navigation-bar-in-touch span::before{
    content: "";
    position: absolute;
    background: white;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.navigation-bar-in-touch span:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

.navigation-bar-contact-number{
    font-weight: $heavy-weight;
    font-size:1.5em;
    line-height: 1;
}
.phone-navbar{
    max-height: 1em;
    width: auto;
    margin-right: 0.5em;
    vertical-align: middle;
    }

.get-quote-now-button{
    background-color: $green;
    border: 2px solid $green;
    box-shadow:0px 2px 0px 0px rgba(59,209,159,0.75);
    padding: 0.6em 1.2em 0.6em 1.2em;
    border-radius: 3em;
    color: white;
    font-weight: $heavy-weight;
    font-size: $font-nm;
}

.get-quote-now-button:hover{
    cursor: pointer;
}


/**************************/
/*******MEDIA-QUERY********/
/**************************/

@media(max-width:1150px){
    .navigation-bar-contact-number{
        font-size:1.2em;
}
    .get-quote-now-button{
       font-size: $font-xs; 
    }
    .navigation-bar-in-touch span{
        font-size: $font-nm;
    }
};

@media(min-width:951px){
    .navigation-bar-in-touch-mid-devices{
        display: none;
}
};

@media(max-width:950px){
    .navigation-bar-in-touch{
            display: none;
    }
    .navigation-bar-in-touch-mid-devices{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }   
};


@media(min-width:801px){
    .navigation-bar-small{
            display: none;
    }
};

@media(max-width:800px){
    .navigation-bar{
            display: none;
    }
}
