$blue: rgb(0,129,255);
$green:rgb(1,236,152);

$indent-xs: 0.2em;
$indent-sm: 0.5em;
$indent-md: 1.0em;
$indent-lg: 2.0em;
$indent-xl: 4.0em;

/****
$at-least-medium: "only screen and (min-width: 700px)";

@mixin winko {
  color: $paulia;
}
***/
