@import "./styles/navigation-bar.scss";
@import "./styles/variables.scss";
@import "./styles/box-menu.scss";


body{
  font-family: 'Poppins', sans-serif;
  background-color: $blue;
  font-size:16px;
}

.row{
  padding-left: $row-indent;
  padding-right: $row-indent;
  max-width: $max-page-width;
  margin-left:auto;
  margin-right:auto;
}

.App {
  // text-align: center;
  // background-color: $paulia;
  // @media #{$at-least-medium} {
  //   background-color: $michi;
  // }
  // &:hover {
  // }
  // @include winko();
       
}
